/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.header a
{
  color: white;
  text-decoration: none;
  font-family: 'Fredoka One', cursive;
  font-size: 50px;
  margin: 0;


}


.categories_nav
{
  display: flex;
  justify-content: center;
background: black;
border-radius: 23px;
list-style-type: none;
background-color: rgba(0, 0, 0, 0.0);

}

.categories_nav li
{
margin: 2em;
color: white;

}



.categories_nav li a
{
color: white;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
font-size: 22px;
text-transform: uppercase;
}


body{
margin: 42px;
background-image: url("http://www.freehdimages.in/uploads/large/desktop-apple-ios-wallpaper-hd.jpg");

}

.header_title{
display: flex;
justify-content: space-between;
}

.user-info{
margin-top: 10px;

}

.login{
border-radius: 30px;
background: white;
padding: 10px 30px;
/*margin: 30px;
margin-right: 30px;*/
/*margin-bottom: 0px;*/
border-color: white;
font-family: 'Raleway', sans-serif;
text-decoration: none;
border-style: solid;
color: white;
background-color: rgba(0, 0, 0, 0.0);
}


.signup{
  border-radius: 30px;
  background: white;
  padding: 10px 30px;
  margin-right: 10px;
  border-color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  border-style: solid;
  color: white;

  background-color: rgba(0, 0, 0, 0.0);
}

.logout{
  border-radius: 30px;
  background: white;
  padding: 10px 30px;
  margin-right: 10px;
  border-color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  border-style: solid;
  color: white;

  background-color: rgba(0, 0, 0, 0.0);
}
