/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.header a
{
  color: black;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 5em;

}


.categories_nav
{
display: flex;
background: black;
border-radius: 23px;
list-style-type: none;

}

.categories_nav li
{
margin: 2em;
color: white;

}



.categories_nav li a
{
color: white;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
font-size: 22px;
text-transform: uppercase;
}


body{
margin: 42px;
background: #A4EEFF;
}
