
<h3> <%= @category.name %> CATEGORY : </h3>
<ul>
<%@products.each do |product| %>
<li>
<%=link_to product.name , category_product_path(@category, product) %>

<img src="<%=(product.photo_url) %>" >
</li>

<% end %>
</ul>


<h2><%=link_to "CREATE A NEW PRODUCT", new_category_product_path(@category) %></h2>
